.randomteams {
  width: 950px;
  border: 1px solid black;
  background-color: grey;
}

.row {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first.row {
  min-height: 200px;
}
.controller {

}

.categorylist {
  background-color: none;
}

.categorylist .selected {
  border: 1px solid blue;
  background-color: blue;
}
