body {
  background-color: lightgrey;
}

#app div {
  margin: 0 auto;
}

.randomteams {
  width: 950px;
  border: 8px solid black;
  background-color: grey;
}

h1 {
  text-shadow: 6px 6px red;
  font-size: 50px;
  text-align: center;
  color: white;
}

.row {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first.row {
  border-top: 4px solid black;
  min-height: 200px;
}

.controller {
  width: 400px;
}

.controller div {
  width: 100px;
  height: 50px;
  display: inline-block;
}

.controller div button{
  color: black;
}

.game-button.go {
  border-right: 1px solid black;
  font-size: 30px;
  text-align: center;
  color: white;
  width: 475px;
  background-color: green;
}

.game-button.clear {
  font-size: 30px;
  text-align: center;
  color: white;
  width: 475px;
  background-color: red;
}

.categorylist {
  width: 950px;
  margin: 5px;
  background-color: none;
  margin: 0px;
  padding: 0px;
}

.team {
  padding: 20px;
}

.categorylist div {
  display: inline-block;
  width: 190px;
}

.categorylist .selected,
.categorylist .selected div {
  background-color: blue;
}
